header
{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: block;
    grid-area: header;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
header.white
{
    background-color: transparent;
}

.main-menu
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.hidden
{
    display: none;
}

.main-menu ul
{
    list-style: none;
    display: flex;
    padding: 20px 0;
    margin-left: 60px;
}

.main-menu li
{
    margin-left: 30px;
}
.main-menu li:first-child
{
    margin-left: 0;
}

.main-menu a
{
    font-size: 1.8rem;
}
.main-menu a:hover
{
    text-decoration: underline;
}