.main-image
{
    margin-bottom: 30px;
    display: flex;
}

.title-image
{
    font-size: 3.2rem;
    line-height: 4rem;
}
.title-image:hover
{
    text-decoration: underline;
}

.comment
{
    font-weight: 900;
    display: inline-block;
    color: var(--color-font-and-background);
    padding-top: 20px;
}
.comment:hover
{
    text-decoration: underline;
}